ALTER TABLE messages ADD COLUMN IF NOT EXISTS poll_options JSONB;
ALTER TABLE poll_votes ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS \
Everyone
can
view
poll
votes\ ON poll_votes;
CREATE POLICY \
Everyone
can
view
poll
votes\ ON poll_votes FOR SELECT USING (true);
DROP POLICY IF EXISTS \
Users
can
vote\ ON poll_votes;
CREATE POLICY \
Users
can
vote\ ON poll_votes FOR ALL USING (auth.uid() = user_id);
